Package: linoleum
Version: 1.6-1
Section: java
Priority: optional
Architecture: all
Depends: java7-sdk, ivy, libcommons-codec-java, libjsch-java, libmail-java
Maintainer: Raphael Jolly <raphael.jolly@free.fr>
Description: Java desktop environment and software distribution
 Extended description is not empy.
