Package: linoleum
Version: 1.6-1
Section: java
Priority: extra
Architecture: all
Depends: java7-sdk, ivy, libcommons-codec-java, libjsch-java, libmail-java
Maintainer: Raphael Jolly <raphael.jolly@free.fr>
Description: Linoleum
 Java desktop environment and software distribution.
 .
 http://linoleum.java.net/
