[Desktop Entry]
Name=Linoleum
Comment=This session logs you into Linoleum
Exec=linoleum
TryExec=linoleum
Icon=
Type=Application
Keywords=launch;Linoleum;desktop;session;
