[Desktop Entry]
Name=Linoleum
Comment=This session logs you into Linoleum
Exec=/home/user/linoleum/bin/linoleum
TryExec=/home/user/linoleum/bin/linoleum
Icon=
Type=Application
Keywords=launch;Linoleum;desktop;session;
